
  .setting {
    padding: var(--clickgui-setting-padding, 7px 0);
    position: relative;
  }

  .canvas-wrapper {
    height: 0;
    opacity: 0;
    overflow: hidden;
    will-change: height, opacity;
    transition:
      ease height var(--clickgui-setting-transition-duration, 0.2s),
      ease opacity var(--clickgui-setting-transition-duration, 0.2s);

    &.visible {
      height: var(--clickgui-curve-height, 180px);
      opacity: 1;
    }
  }

  .title {
    color: var(--clickgui-text-color);
    font-size: var(--clickgui-control-font-size, 12px);
    font-weight: 600;
  }

  .head {
    display: flex;
    justify-content: space-between;
    transition: ease margin-bottom var(--clickgui-setting-transition-duration, .2s);

    &.expanded {
      margin-bottom: var(--clickgui-setting-expanded-gap, 10px);
    }
  }
