
.noUi-handle {
    background-color: var(--clickgui-slider-handle-color);
    box-shadow: unset;
    border: none;
    border-radius: var(--clickgui-slider-handle-radius, 50%);
    height: var(--clickgui-slider-handle-size, 12px) !important;
    width: var(--clickgui-slider-handle-size, 12px) !important;
    transform: var(--clickgui-slider-handle-transform, translate(-5px, 1px));
}

.noUi-handle::after,
.noUi-handle::before {
    display: none;
}

.noUi-target {
    margin: var(--clickgui-slider-track-margin, 10px 0);
    height: var(--clickgui-slider-track-height, 2px);
    border: none;
    background-color: var(--clickgui-slider-track-color);
    box-shadow: unset;
}

.noUi-connect {
    background-color: var(--clickgui-slider-fill-color);
}
